__pycache__/
tokenizer/
bert_checkpoints/
bert_final_model/
data/
text_shards/
tokenized_chunks/
wandb/

.venv/

*.txt
*.jsonl
*json
*.parquet
*.pt
*.safetensors
*.bin
*.pth
*.csv
*.tar.*
*.tar

!requirements.txt
!bert_config.json